<%# views/partials/contentHeader.ejs %>
<%# (immigrate-forward4) %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Immigrate Forward</title>
</head>
<body>
    <header>
        <h1>Immigrate Forward</h1>

        <h3>Immigration Help</h3>

        <nav>
            <a href="/" id="homeLink" data-lang-placeholder="homeLink"></a>
            <a href="/tutorials/asylum" id="asylumLink" data-lang-placeholder="asylumLink"></a>
            <a href="/tutorials/citizenship" id="citizenshipLink" data-lang-placeholder="citizenshipLink"></a>
            <a href="/tutorials/green_card" id="green_cardLink" data-lang-placeholder="green_cardLink"></a>
            <a href="/tutorials/petitions" id="petitionsLink" data-lang-placeholder="petitionsLink"></a>
            <a href="/tutorials/sponsorship" id="sponsorshipLink" data-lang-placeholder="sponsorshipLink"></a>
            <a href="/tutorials/visas" id="visasLink">Visas</a>
            <a href="/tutorials/work_permit" id="work_permitLink" data-lang-placeholder="work_permitLink"></a>
        </nav>
           
        <script src="/scripts/languageSwitcher.js"></script>
        
    </header>