<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title data-lang-placeholder="titleLink"></title>
</head>
<body>
    <header>
        <h1 data-lang-placeholder="titleLink"></h1>
        
        <nav>
            <a href="/" id="homeLink" data-lang-placeholder="homeLink"></a>
            <a href="/content" id="contentLink" data-lang-placeholder="contentLink"></a>
            <a href="language.html" id="languageLink" data-lang-placeholder="languageLink"></a>
            <% if (locals.isLoggedIn) { %>
                <a href="/user/myAccount" id="userLink" data-lang-placeholder="userLink"></a>
                <a href="/logout" id="signOutLink" data-lang-placeholder="signOutLink"></a>
            <% } else { %>
                <a href="/auth/google" id="loginLink" data-lang-placeholder="signInLink"></a>
            <% } %>
        </nav>     
    </header>