<!DOCTYPE html>
<!-- to be changed to dynamic language attribute eventually -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width', initial-scale=1.0">
    <title>Immigrate Forward</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/content">Content</a>
            <a href="/auth/google">Sign In with Google</a>
        </nav>        
    </header>