<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immigrate Forward</title>
</head>
<body>
    <h1>Immigrate Forward</h1>
    <header>       
        <nav>
            
        </nav>
    </header>