<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immigrate Forward</title>
</head>
<body>
    <header>
        <h1>Immigrate Forward</h1>
        
        <nav>
            <a href="/" id="homeLink">Home</a>
            <a href="/content" id="contentLink">Tutorials</a>
            <% if (locals.isLoggedIn) { %>
                <a href="/logout" id="logoutLink">Logout</a>
                <a href="/user/myAccount" id="userLink">My Account</a>
            <% } else { %>
                <a href="/auth/google" id="loginLink">Sign In with Google</a>
            <% } %>
        </nav>     
    </header>