<%# views/index.ejs %>
<%# (immigrate-forward4) %>

<div>
    <p data-lang-placeholder="homepageContent"></p>
    <br>
    <p data-lang-placeholder="about"></p>
    <br>
    <p data-lang-placeholder="aboutText"></p>
</div>