<%# views/index.ejs %>

<br>

<div id="homepage-content">
    <p data-lang-placeholder="homepageContent"></p>
</div>

<div id="about-us">
    <p data-lang-placeholder="about"></p>
    <br>
    <p data-lang-placeholder="aboutText"></p>
</div>