<%- include('partials/header'); %>   

<main>
    <p>This is the main content area.</p>
</main>

<p data-lang-placeholder="about"></p>
<p data-lang-placeholder="aboutText"></p>
<script src="/scripts/languageSwitcher.js"></script>

<%- include('partials/footer'); %>