<%- include ('partials/header') %>
<nav>
    <a href="/tutorials/asylum" id="asylumlink">Asylum</a>
    <a href="/tutorials/citizenship" id="asylumlink">Citizenship</a>
    <a href="/tutorials/green_card" id="asylumlink">Green Card</a>
    <a href="/tutorials/petitions" id="asylumlink">Petitions</a>
    <a href="/tutorials/sponsorship" id="asylumlink">Sponsorship</a>
    <a href="/tutorials/visas" id="asylumlink">Visas</a>
    <a href="/tutorials/work_permit" id="asylumlink">Work Permit</a>
</nav> 

<div class="card-grid">
    <% if (content && content.data) { %>
        <% content.data.forEach(function(item) { %>
            <%- include('partials/_cards', { item: item }); %>
        <% }); %>
    <% } %>
</div>

<%- include('partials/footer'); %>