<%# views/tutorials.ejs %>
<%# (immigrate-forward4) %>

<%- include ('partials/contentHeader') %>

<p>Select the topic you need from our expert immigrration help tutorials above!</p>

<div class="card-grid">
    <% if (content && content.data) { %>
        <% content.data.forEach(function(item) { %>
            <%- include('partials/_cards', { item: item }); %>
        <% }); %>
    <% } %>
</div>

<script src="/scripts/languageSwitcher.js"></script>

<%- include('partials/footer'); %>